<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title th:text="${path}">HDFS</title>
</head>
<body>
<div>
    <table>
        <tr th:each="file : ${fileList}">
            <td>
                <a th:if="${file.isDir()} == true" th:href="@{/ls{path}(path=${file.path})}" th:text="${file.path}">Link</a>
                <a th:if="${file.isDir()} == false" th:href="@{/open{path}(path=${file.path})}" th:text="${file.path}">Link</a>
            </td>
        </tr>
    </table>
</div>
</body>
</html>