body {
    background-color: lightgray;
}

h2 {
    color:darkred;
    font-family: Monaco;
    font-size: 150%;
    text-align: center;
}

form {
    text-align: center;
}

input[type=text], input[type=password] {
    border: 2px solid darkred;
    border-radius: 4px;
}

input[type=submit] {
    background-color: lavender;
    border: 2px black;
}